<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button id="getAll" (click)="getAll()">Click to get all tasks</button>
  <div *ngIf="allTasks != ''">
    <ul *ngFor="let task of allTasks.data">
      <li>{{task.title}} - {{task.description}} - {{task._id}}</li>
    </ul>
  </div>
  <div id="singleTask">
    <input type="text" [value]="taskId">
    <button id="singleButton" (click)="getOne()">Click to get one task</button>    
    <div *ngIf="singleTask != ''">
      {{singleTask}} - {{singleTask.description}}
    </div>
  </div>
</div>

